<div class="lib-gen-con--wrap">
  <section id="image-right"
    class="lib-gen-con--block lib-img-block {{ imgSide }}">
    <h2 class="lib-block-title">
      {{ headline }}
    </h2>
    <div class="lib-content-wrap">
      <div class="lib-gen-con--img-wrap">
        <figure>
          <img src="{{ img }}" alt="{{ alt }}" />
          <figcaption>
            {{ alt }}
          </figcaption>
        </figure>
      </div>
      <p>
        Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta
        dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
        blandit aliquet elit, eget tincidunt nibh pulvinar a.Praesent sapien
        massa, convallis a pellentesque nec, egestas non nisi.
      </p>
      <{{header}}>
        {{headline2}}
      </{{header}}>
      <p>
        Nulla porttitor accumsan tincidunt. Vivamus suscipit tortor eget felis
        porttitor volutpat. Vestibulum ac diam sit amet quam vehicula elementum
        sed sit amet dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nulla quis lorem ut libero malesuada feugiat.
      </p>
      <p>
        Donec sollicitudin molestie malesuada. Pellentesque in ipsum id orci porta
        dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
        blandit aliquet elit, eget tincidunt nibh pulvinar a.Praesent sapien
        massa, convallis a pellentesque nec, egestas non nisi.
      </p>
    </div>
  </section>
</div>