<div class="lib-gen-con--wrap">
  <section id="link-list"
    class="lib-gen-con--block lib-text-block lib-block--link-list">
    <h2 class="lib-block-title">
      {{ headline }}
    </h2>
    <div class="lib-content-wrap">
      <p class="lead">
        Donec sollicitudin. Pellentesque in ipsum id orci porta dapibus. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit
        aliquet elit, eget tincidunt nibh pulvinar a.Praesent sapien massa,
        convallis a pellentesque nec, egestas non nisi.
      </p>
      <ul class="lib-link-list">
        <li class="lib-link-list--item"><a href="words.docx">{{ link }}</a></li>
        <li class="lib-link-list--item"><a href="#">{{ link1 }}</a></li>
        <li class="lib-link-list--item"><a href="#.pdf">{{ link2 }}</a></li>
        <li class="lib-link-list--item"><a href="#.xlsx">{{ link3 }}</a></li>
        <li class="lib-link-list--item"><a href="#.org">{{ link4 }}</a></li>
        <li class="lib-link-list--item"><a href="#.png">{{ link5 }}</a></li>
      </ul>
    </div>
  </section>
</div>
