<div class="lib-gen-con--wrap">
  <section id="link-list-abstract"
    class="lib-gen-con--block lib-text-block lib-block--link-abstract">
    <h2 class="lib-block-title">
      {{ headline }}
    </h2>
    <div class="lib-content-wrap">
      <p class="lead">
        Donec sollicitudin. Pellentesque in ipsum id orci porta dapibus. Lorem
        ipsum dolor sit amet, consectetur adipiscing elit.
        <strong>Mauris blandit</strong> aliquet elit, eget tincidunt nibh pulvinar
        a.Praesent sapien massa, convallis a pellentesque nec, egestas non nisi.
      </p>
      <ul class="lib-link-list--abstract">
        <li class="lib-abstract-item">
          <a href="#">
            <h4 role="title">
              {{ link }}
            </h4>
          </a>
          <p>
            Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
            Praesent sapien massa, convallis a pellentesque nec, egestas non
            nisi.
          </p>
        </li>
        <li class="lib-abstract-item">
          <a href="#">
            <h4 role="title">
              {{ link1 }}
            </h4>
          </a>
          <p>
            Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
            Praesent sapien massa, convallis a pellentesque nec, egestas non
            nisi.
          </p>
        </li>
        <li class="lib-abstract-item">
          <a href="#">
            <h4 role="title">
              {{ link2 }}
            </h4>
          </a>
          <p>
            Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
            Praesent sapien massa, convallis a pellentesque nec, egestas non
            nisi.
          </p>
        </li>
        <li class="lib-abstract-item">
          <a href="#">
            <h4 role="title">
              {{ link3 }}
            </h4>
          </a>
          <p>
            Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
            Praesent sapien massa, convallis a pellentesque nec, egestas non
            nisi.
          </p>
        </li>
      </ul>
    </div>
  </section>
</div>
