<div class="lib-gen-con--wrap">
  <section id="text-block" class="lib-gen-con--block lib-text-block">
    <h2 class="lib-block-title">
      {{ headline }}
    </h2>
    <div class="lib-content-wrap">
      <p>
        {{ para1 }}
      </p>
      <{{ header }} class="lib-block-title">{{ headline2 }}</{{ header }}>
      <p>
        {{ para2 }}
      </p>
    </div>
  </section>
</div>
