<div class="lib-gen-con--wrap">
  <section id="three-images"
    class="lib-gen-con--block lib-img-block lib-block--three-img">
    <h2 class="lib-block-title">
      Three Images
    </h2>
    <div class="lib-content-wrap">
      <div class="lib-gen-con--img-wrap">
        <figure>
          <img src="{{ img }}" alt="{{ alt }}" />
          <figcaption>
            {{ alt }}
          </figcaption>
        </figure>
      </div>
      <div class="lib-gen-con--img-wrap">
        <figure>
          <img src="{{ img }}" alt="{{ alt1 }}" />
          <figcaption>
            {{ alt1 }}
          </figcaption>
        </figure>
      </div>
      <div class="lib-gen-con--img-wrap">
        <figure>
          <img src="{{ img }}" alt="{{ alt2 }}" />
          <figcaption>
            {{ alt2 }}
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
</div>
