<div class="{{ class }} lib-basic-card--image">
  <a href="{{ link }}/index.html" class="lib-basic-card--link">
    <div class="lib-basic-card--image-wrap">
      <figure>
        <img src="{{ img }}" alt="alt" />
        <div class="image-overlay"></div>
      </figure>
      <div class="lib-basic-card--text-wrap">
        <span class="lib-basic-card--category lib-mb-xs">{{ category }}</span>
        <h3 class="lib-basic-card--title">
          {{ title }}
        </h3>
      </div>
    </div>
    <span class="lib-aria-text">{{ ariaText }}</span>
    <div class="lib-basic-card--text-wrap">
      <p class="lib-basic-card--desc">
        {{ desc }}
      </p>
      <div class="lib-cta--wrap">
        <p class="lib-cta">
          {{ cta }}
        </p>
      </div>
    </div>
  </a>
</div>
