<div class="lib-basic-card {{ class }}">
  <a href="{{ link }}/index.html" class="lib-basic-card--link">
    <span class="lib-aria-text">{{ ariaText }}</span>
    <div class="lib-basic-card--text-wrap">
      <span class="lib-basic-card--category lib-mb-xs">{{ category }}</span>
      <h3 class="lib-basic-card--title">
        {{ title }}
      </h3>
      <p class="lib-basic-card--desc">
        {{ desc }}
      </p>
      <div>
        <p class="lib-basic-card--cta">
          {{ cta }}
        </p>
      </div>
    </div>
  </a>
</div>
