<div class="lib-news-card--lead lib-br4">
  <a href="{{ link }}"
    class="lib-news-card--link"
    style="background-image: url('{{ img }}');">
    <span class="lib-aria-text">{{ ariaText }}</span>
    <div class="lib-news-card--text lib-pr-xl lib-pl-lg lib-pt-2xl lib-pb-lg lib-text-white">
      <span class="lib-news-card--category lib-text-white">{{ category }}</span>
      <h3 class="lib-news-card--title lib-mb-md lib-fs-lg lib-text-white">
        {{ title }}
      </h3>
      <div class="lib-news-card--desc">
        <p class="lib-text-white">
          {{ desc }}
        </p>
        <div class="lib-cta--wrap">
          <p class="lib-cta lib-text-white">
            {{ cta }}
          </p>
        </div>
      </div>
    </div>
    <div class="image-overlay"></div>
  </a>
</div>
